.banner {
    height: 100vh;
    width: 100vw;
    background-image: url('/images/background-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    .banner-row {
        @extend .row;
        justify-content: center;
        align-items: center;
        height: 90%;
        color: $dark;
    }

    .name {
       font-size: 32px;
       font-weight: 500;
    }

    .bio {
        position: relative;
        font-size: 18px;
        color: $dark;
    }

    .banner-arrow {
        @extend .fa;
        @extend .fa-arrow-circle-o-down;
        position: absolute;
        bottom: 15px;
        font-size: 48px;
        color: $primary;

        &:hover {
            cursor: pointer;
            color: darken($primary, 15%)
        }
    }

    @include media-breakpoint-down(md) {
        .name {
            font-size: 28px;
        }

        .bio {
            font-size: 16px;
        }
    }

    @include media-breakpoint-down(sm) {
        .name {
            font-size: 24px;
            border-bottom: 1px solid $dark;
        }

        .bio {
            font-size: 14px;
        }
    }   
}