.footer {
    position: relative;
    bottom: 0px;
    height: 125px;
    @extend .container-fluid;
    background-color: $gray-200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    font-size: 16px;

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            display: inline;
            margin-right: 20px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}