#skills {
    .skill-experience-wrapper {
        height: 350px;

        h4 {
            text-align: center;
            color: $primary;
            font-size: 32px;
            font-weight: bold;
        }
        
        img {
            position: absolute;
            z-index: -1;
            width: 250px;
            height: 250px;
            left: 50%;
            transform: translateX(-50%);
            opacity: 30%;
        }
    }

    @include media-breakpoint-down(md) {
        .skill-experience-wrapper {
            h4 {
                font-size: 28px;
            }
            
            img {
                width: 200px;
                height: 200px;
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .skill-experience-wrapper {
            h4 {
                font-size: 24px;
            }
            
            img {
                width: 150px;
                height: 150px;
            }
        }
    }
}