@import 'bootstrap/bootstrap.scss';
@import 'font-awesome.scss';
@import 'components/index.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, sans-serif;
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
}

@include media-breakpoint-down(md) {
  body {
    font-size: 16px;
  }
}

@include media-breakpoint-down(sm) {
  body {
    font-size: 14px;
  }
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}